@model IEnumerable<Vitamito.Models.BLL.webSaleBLL>
@if (ViewBag.NewArrival == 2)
{

}
else { 
<section class="bag-product ratio_square deal-product-space-newArrival section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title8">
                    <h2 class="_arabic" data-translate="000co35">New Arrival</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="slide-4-demo slick-sm-margin no-arrow">
                    @foreach (var a in Model)
                    {

                        foreach (var item in a.WebSaleDetails)
                        {



                            var Dis = ((item.NewPrice / item.Price) * 100);
                            var Per = 100 - Dis;
                            var DiscountPrice = Per;
                            <div class="product-box product-box product-style-4">
                                <div class="img-wrapper">
                                    <div class="front">
                                        @if (item.IsStockOut == true)
                                        {
                                            <div class="ribbon ribbon-top-right">
                                                <span data-translate="000co51" class="_arabic" style="color:white">
                                                    Out of stock
                                                </span>
                                            </div>
                                        }
                                        @if (item.NewPrice == null || item.NewPrice == 0)
                                        {


                                        }
                                        else
                                        {
                                            <div class="ribbonStock ribbonStock-top-right">
                                                <span>
                                                    @DiscountPrice.ToString("0.000") % off
                                                </span>
                                            </div>
                                        }
                                        @if (item.Image == null || item.Image == "")
                                        {
                                            <a href="@Url.Action("ProductDetails", "Product", new { ID = item.ID })"><img src="~/Content/assets/images/NA.png" class="img-fluid blur-up lazyload bg-img"></a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("ProductDetails", "Product", new { ID = item.ID })">

                                                <img class="img-fluid blur-up lazyload bg-img" src="@System.Configuration.ConfigurationManager.AppSettings["Image"].ToString()@item.Image" alt="" style="height: 160px !important; width: 160px !important;" />
                                            </a>
                                        }

                                    </div>

                                    @if (item.NewPrice == null || item.NewPrice == 0)
                                    {
                                        <div class="cart-detail">
                                            <a class="wishlist" onclick="addtoWishlist(@item.ID, '@item.Name', '@item.Image',@item.Price,@item.StatusID,1);toast('Item Added to wishlist', 1); return false; ">
                                                <i class="ti-heart" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="cart-detail">
                                            <a class="wishlist" onclick="addtoWishlist(@item.ID, '@item.Name', '@item.Image',@item.NewPrice,@item.StatusID,1);toast('Item Added to wishlist', 1); return false; ">
                                                <i class="ti-heart" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    }
                                </div>
                                <div class="product-detail" style="background-color:white;padding-bottom:6px;padding-left:10px;">
                                    @if (HttpContext.Current.Request.Cookies["lang"].Value == "en")
                                    {
                                        <a href="@Url.Action("ProductDetails", "Product", new { ID = item.ID })">
                                            <h6> @item.Name</h6>
                                        </a>
                                    }
                                    else
                                    {
                                        if (item.ArabicName == null)
                                        {
                                            <a href="@Url.Action("ProductDetails", "Product", new { ID = item.ID })">
                                                <h6> @item.Name</h6>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("ProductDetails", "Product", new { ID = item.ID })">
                                                <h6 class="_arabic-textAlign _pr10"> @item.ArabicName</h6>
                                            </a>
                                        }

                                    }
                                    @*<a href="@Url.Action("ProductDetails", "Product", new { ID = item.ID })">
            <h6> @item.Name</h6>
        </a>*@
                                    <div class="pro_rating d-flex pr _arabic">
                                        <ul class="product-rating d-flex">
                                            @{
                                                if (item.Stars != null)
                                                {
                                                    for (int i = 0; i < item.Stars; i++)
                                                    {
                                                        <li><span class="ion-android-star"></span></li>
                                                    }
                                                    for (int i = 0; i < (5 - item.Stars); i++)
                                                    {
                                                        <li><span class="ion-android-star-outline"></span></li>
                                                    }
                                                }
                                                else
                                                {
                                                    <li><span class="ion-android-star-outline"></span></li>
                                                    <li><span class="ion-android-star-outline"></span></li>
                                                    <li><span class="ion-android-star-outline"></span></li>
                                                    <li><span class="ion-android-star-outline"></span></li>
                                                    <li><span class="ion-android-star-outline"></span></li>
                                                }
                                            }

                                        </ul>

                                    </div>

                                    @if (item.NewPrice == null || item.NewPrice == 0)
                                    {
                                        <strong>BHD @(Math.Round((item.Price),2))</strong>
                                    }
                                    else
                                    {
                                        <strong><del>@(Math.Round((item.Price),2))</del></strong>
                                        <strong>BHD @(Math.Round((item.NewPrice),2))</strong>
                                    }
                                    <br />
                                    @if ((Math.Round((item.CurrentStock), 2)) < 10 && (Math.Round((item.CurrentStock), 2)) != 0)
                                    {
                                        <strong style="font-size:13px;color:red;">Low Stock</strong>
                                    }
                                    @if (item.IsStockOut == true)
                                    {

                                        <div class="addtocart_btn">
                                            <button class="add-button add_cart" onclick="toastOut('Item is Out of Stock', 1); return false;" title="Add to cart">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    }
                                    else
                                    {
                                        if (item.NewPrice == null || item.NewPrice == 0)
                                        {
                                            <div class="addtocart_btn">
                                                <button class="add-button add_cart" title="Add to cart" onclick="addtocart(@item.ID,'@item.Name','@item.Image',0, @item.Price,1,@item.CurrentStock);toast('Item Added to Cart', 1); return false;">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        }

                                        else
                                        {
                                            <div class="addtocart_btn">
                                                <button class="add-button add_cart" title="Add to cart" onclick="addtocart(@item.ID,'@item.Name','@item.Image',@item.NewPrice, @item.Price,1,@item.CurrentStock);toast('Item Added to Cart', 1); return false;">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>

                            </div>
                        }
                    }


                </div>
            </div>
        </div>
    </div>
</section>
}
