@model Vitamito.Models.BLL.contactBLL
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2 class="_arabic">Blog</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Blog" , "Home")" data-translate="a0" class="_arabic">Home</a></li>
                        <li class="breadcrumb-item active _arabic">Blog</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<div class="porduct-area section-pt-60 section-pb-60  ">
    <div class="container w-100" style="padding-top: 30px;">
        <div class="row justify-content-center">
            @*<div class="col-12">
                <div class="title8">
                    <h2 class="_arabic" data-translate="000co34">Shop By Category</h2>
                </div>
            </div>*@
            @foreach (var item in ViewBag.categoryList)
            {
                <div class="col-lg-2 col-6 text-center mobPadding">
                    <div class="single-blog mt-30 categorybox card-box myDIV" style=" border: 2px solid #076d08;
                            border-radius: 10px;
                            height: 92px;
                            letter-spacing: 0;
                            text-align: left !important;
                            line-height: 19px;">
                        <div class="catmob" style="padding-top:20px;">
                            @if (item.Image == null || item.Image == "")
                            {
                                <a href="@Url.Action("shop", "shop", new { LocationID = 2195, CategoryIDs = item.ID, Category = "",Searchtext = "",SortID=0})">
                                    <img src="~/Content/assets/images/NA.png" style="height: 120px; width: 120px; border-radius: 10px; background: #ddd; border: 1px solid #ddd">
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("shop", "shop", new { LocationID = 2195, CategoryIDs = item.ID, Category = "",Searchtext = "",SortID=0})">
                                    <img src="@System.Configuration.ConfigurationManager.AppSettings["Image"].ToString()@item.Image" alt="" style=" height: 50px; width: auto; margin-bottom: 10px; left: 18px; position: absolute; top: 20px;" />
                                </a>
                            }
                            @if (HttpContext.Current.Request.Cookies["lang"].Value == "en")
                            {
                                <a href="@Url.Action("shop", "shop", new { LocationID = 2195, CategoryIDs = item.ID, Category = "",Searchtext = "",SortID=0})">
                                    <div class="mobdiv">
                                        <h5 style="padding-left:60px;" class="catTitle"><strong> @item.Name</strong></h5>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("shop", "shop", new { LocationID = 2195, CategoryIDs = item.ID, Category = "",Searchtext = "",SortID=0})">
                                    <div class="mobdiv">
                                        <h5 style="padding-left:60px;" class="catTitle _arabic"><strong> @item.ArabicName</strong></h5>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--Section ends-->
