<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vitamito">
    <meta name="keywords" content="Vitamito">
    <meta name="author" content="Vitamito">
    <link rel="icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon">
    @*<link rel="icon" href="../Content/assets/images/favicon/26.png" type="image/x-icon">*@
    <link rel="shortcut icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon">
    <title>Vitamito Website </title>

    <!--Google font-->
    @*<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fo nts.gstatic.com" crossorigin="">*@
    @*<link href="../../css2-3.css?family=Mulish:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">*@

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LBC1CQ2EP5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LBC1CQ2EP5');
    </script>

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/vendors/font-awesome.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/vendors/slick-theme.css">


    <link href="~/Content/assets/css/vendors/price-range.css" rel="stylesheet" />
    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/vendors/animate.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/vendors/themify-icons.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/vendors/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/vendor/ionicons.min.css">
    <link href="~/Content/assets/css/sweetalert/sweetalert.css" rel="stylesheet" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/plugins/animation.css">
    <link rel="stylesheet" href="~/Content/assets/css/plugins/jqueryui.min.css">
    <link href="~/Content/assets/css/plugins/flag-icon.min.css" rel="stylesheet" />
    <script src="~/Content/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>

    <script>
        jQuery(document).ready(function () {
            debugger;
            var currLang = Cookies.get('lang');
            if (currLang == null || currLang == "" || currLang == undefined) {

                Cookies.set('lang', 'en', { expires: 365 });
                jQuery('#_lang').html('عربى');
            }
            if (currLang == "en") {
                jQuery('#_lang').html("عربى");
                jQuery("._arabic").css("direction", "ltr")
                jQuery("._arabic-text").css("text-align", "left")

                $("#Name").attr("placeholder", "Name");
                $("#Email").attr("placeholder", "Email");
                $("#email").attr("placeholder", "Email");
                $("#password").attr("placeholder", "Enter your password");
                $(".EmailAddress").attr("placeholder", "Email Address");
                $("#Description").attr("placeholder", "Wrire Your thoughts");
                $("#CustomerName").attr("placeholder", "Customer Name");
                $("#ContactNo").attr("placeholder", "Phone Number");
                $("#NearestPlace").attr("placeholder", "Park, Bank, Hotel etc.");
                $("#Address").attr("placeholder", "Area, Block, Road, Building");
                $("#CardNotes").attr("placeholder", "Notes, e.g. special things if you wanna customized  along with your orders.");
                $("#coupon").attr("Coupon code");
                $("#fname").attr("Full Name");
                $("#lname").attr("Mobile");
                $("#l1").attr("title", "Awesome - 5 stars");
                $("#l2").attr("title", "Pretty good - 4 stars");
                $("#l3").attr("title", "Pretty good - 3 stars");
                $("#l4").attr("title", "Meh - 2 stars");
                $("#l5").attr("title", "Meh - 1 stars");
                jQuery("._arabic").css("direction", "ltr");
                jQuery("._arabic-text").css("text-align", "left");
                
            }
            else {

                jQuery('#_lang').html("English");
                jQuery('._arabic').css('direction', 'rtl');
                jQuery('.pr').css('padding-left', '40px');
                jQuery('.pr').css('padding-right', '0px');
                jQuery('._padingRight').css('padding-right', '20px');
                jQuery('._pr10').css('padding-right', '10px');
                jQuery('.prr').css('padding-right', '0px');
                jQuery('._right').css('right', '0px');
                jQuery("._arabic-textAlign").css("text-align", "right")
                jQuery('.header-compact .top-header .header-dropdown li').css('padding-right', '0px');
               /* jQuery('._arabicColor').css("color", "black");*/
                //jQuery("._arabic").css("direction", "rtl")

                $("#Name").attr("placeholder", "اسم");
                $("#Name").addClass("_arabic");

                $("#Email").attr("placeholder", "بريد إلكتروني");
                $("#Email").addClass("_arabic");

                $("#email").attr("placeholder", "بريد إلكتروني");
                $("#email").addClass("_arabic");

                $("#password").attr("placeholder", "ادخل رقمك السري");
                $("#password").addClass("_arabic");

                $(".EmailAddress").attr("placeholder", "عنوان البريد الإلكتروني *");
                $(".EmailAddress").addClass("_arabic");

                $("#Description").attr("placeholder", "اكتب أفكارك");
                $("#Description").addClass("_arabic");

                $("#CustomerName").attr("placeholder", "اسم الزبون");
                $("#CustomerName").addClass("_arabic");

                $("#ContactNo").attr("placeholder", "رقم التليفون");
                $("#ContactNo").addClass("_arabic");

                $("#NearestPlace").attr("placeholder", "بارك ، بنك ، فندق إلخ.");
                $("#NearestPlace").addClass("_arabic");

                $("#Address").attr("placeholder", "منطقة ، بلوك ، طريق ، مبنى");
                $("#Address").addClass("_arabic");

                $("#CardNotes").attr("placeholder", "ملاحظات ، على سبيل المثال أشياء خاصة إذا كنت تريد تخصيصها مع طلباتك.");
                $("#CardNotes").addClass("_arabic");

                $("#coupon").attr("placeholder", "رمز الكوبون");
                $("#coupon").addClass("_arabic");

                $("#fname").attr("placeholder", "الاسم الكامل");
                $("#fname").addClass("_arabic");

                $("#lname").attr("placeholder", "الموبايل");
                $("#lname").addClass("_arabic");

                $("#lastname").attr("placeholder", "أدخل أسمك");
                $("#lastname").addClass("_arabic");

                $("#name").attr("placeholder", "أدخل أسمك");
                $("#name").addClass("_arabic");

                $("#phone").attr("placeholder", "أدخل رقمك");
                $("#phone").addClass("_arabic");

                $("#message").attr("placeholder", "اكتب رسالتك");
                $("#message").addClass("_arabic");

                $("#l1").attr("title", "رهيبة - 5 نجوم");
                $("#l1").addClass("_arabic");

                $("#l2").attr("title", "جيد جدًا - 4 نجوم");
                $("#l2").addClass("_arabic");

                $("#l3").attr("title", "جيد جدًا - 3 نجوم");
                $("#l3").addClass("_arabic");

                $("#l4").attr("title", "ميه - 2 نجوم");
                $("#l4").addClass("_arabic");

                $("#l5").attr("title", "ميه - 1 نجوم");
                $("#l5").addClass("_arabic");

                $(".rtext").css("float", "right")

                $(".pg").css("margin-right", "40px")

                $(".siconsr").css("float", "right")
                $(".siconsr").css("margin-left", "10px")

                $(".cbt").css("margin-right", "10px")

                $(".dtxt").css("display", "inline-table")

                $(".fchk").addClass("fcrev");

                $(".frl").css("float", "right")

                $("#login-submit").val("تسجيل الدخول");

                $("#register-submit").val("إنشاء حساب");

                jQuery('._ltrarabic').css("direction", "ltr");
                jQuery("._arabic").css("direction", "rtl");


            }
        });

        function _lang() {
            var currLang = Cookies.get('lang');
            //var currLang = localStorage.getItem("_lang");
            if (currLang == null || currLang == "") {
                Cookies.set('lang', 'en', { expires: 365 });
                jQuery('#_lang').html('عربى');
            }
            if (currLang == "en") {
                Cookies.set('lang', 'ar', { expires: 365 });
                jQuery('#_lang').html('English');
                //location.reload();
            }
            if (currLang == "ar") {
                Cookies.set('lang', 'en', { expires: 365 });
                jQuery('#_lang').html('عربى');


            }
        }
    </script>

    <style>
        @@media (max-width: 767px) {
            .footer-contant {
                 text-align: center !important; 
            }
        }

        @@font-face {
            font-family: 'sst_arabic_roman';
            src: url('../../contentar/fonts/arabic/sst_arabic_roman.ttf') format('truetype');
        }

         * {
            font-family: "sst_arabic_roman" !important;
        }
        .ribbon-top-right {
            top: -10px;
            right: -10px
        }


        .header-compact .top-header .header-dropdown li {
            padding: 11px 70px 17px;
        }


        .ribbon-top-right::before,
        .ribbon-top-right::after {
            border-top-color: transparent;
            border-right-color: transparent
        }

        .ribbon-top-right::before {
            top: 0;
            left: 17px
        }

        .ribbon-top-right::after {
            bottom: 17px;
            right: 0
        }

        .ribbon-top-right span {
            left: 61px;
            top: 26px;
            transform: rotate( 45deg);
        }

        .ribbon {
            width: 150px;
            height: 126px;
            overflow: hidden;
            position: absolute;
            z-index: 1;
        }



            .ribbon span {
                position: absolute;
                display: block;
                width: 100%;
                font-size: 10px;
                background-color: #FA9900;
                box-shadow: 0 5px 10px rgba(0,0,0,0.1);
                color: #fff;
                text-shadow: 0 1px 1px rgba(0,0,0,0.2);
                text-transform: uppercase;
                text-align: center;
                margin-left: 0;
                left: 32px;
                top: 37px;
            }

        .login-icon i {
            font-size: 27px;
        }

        .alignment {
            top: 5px;
            left: -85px;
        }

        .dropdown-item {
            font-size: 12px;
        }

        .about-bg {
            background: url('../../assets/images/banner/about.png');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .wish_qty_cls {
            position: absolute;
            /*background: var(--theme-color);*/
            background: white;
            width: 20px;
            height: 20px;
            color: #fff;
            border-radius: 20px;
            text-align: center;
            font-size: 12px;
            line-height: 17px;
            font-weight: 600;
            top: 20%;
            padding: 1px;
            border: 1px solid;
            left: 95px;
        }

        @@media (max-width: 480px) {
            .wish_qty_cls {
                position: absolute;
                background: var(--theme-color);
                width: 20px;
                height: 20px;
                color: #fff;
                border-radius: 20px;
                text-align: center;
                font-size: 12px;
                line-height: 14px;
                font-weight: 600;
                top: -32%;
                right: -18px;
                padding: 3px;
            }
        }

        @@media (max-width: 480px) {
            .mobile-wishlist {
                right: 17% !important;
            }
        }

        .mobile-wishlist {
            right: 17% !important;
        }

        @@media (max-width: 480px) {
            .ion-ios-contact {
                color: var(--theme-color) !important;
            }
        }

        @@media (max-width: 480px) {
            .wish_qty_cls {
                right: -16px !important;
                top: -9px;
            }
        }

        @@media (max-width: 577px) {

            .top-header {
                height: 39px;
                background-color: var(--theme-color) !important;
            }

            .ion-ios-contact {
                color: white !important;
            }
        }

        @@media (max-width: 991px) {
            .top-header .header-contact {
                display: block;
            }
        }

        @@media (max-width: 577px) {
            .header-compact .main-nav-center .toggle-nav {
                top: -78px !important;
            }

            .wish_qty_cls {
                color: #ffffff !important;
                position: absolute;
                left: 14px;
                padding: 2px;
            }
        }

        @@media (max-width: 480px) {
            .brand-logo img {
                height: 50px !important;
            }
        }

        .navbar-nav .dropdown-menu {
            position: absolute;
        }

        .media {
            width: 330px !important;
        }

        .top-header .header-contact li {
            padding-right: 12px;
        }

        .dropdown-toggle::after {
            color: white;
        }

        .header-compact .main-menu .brand-logo img {
            width: 120px;
        }

        .header-compact .main-menu .brand-logo {
            padding-top: 15px;
            padding-bottom: 10px;
        }

        .wishlist {
            cursor: pointer
        }

        h5 {
            font-size: 17px;
            line-height: 22px;
        }

        .ion-android-star {
            color: var(--theme-color);
            font-size: 21px;
        }

        .ion-android-star-outline {
            color: var(--theme-color);
            font-size: 21px;
        }

        @@media (max-width: 577px) {
            .main-menu .menu-right .icon-nav .mobile-search {
                right: 77% !important;
            }
        }

        @@media (max-width: 577px) {
            .main-menu .menu-right .icon-nav .mobile-cart {
                right: 55% !important;
            }
        }

        @@media (max-width: 577px) {
            .main-menu .menu-right .icon-nav .mobile-setting .show-div.shopping-cart, .main-menu .menu-right .icon-nav .mobile-cart .show-div.shopping-cart, .main-menu .menu-right .icon-nav .mobile-search .show-div.shopping-cart {
                top: unset;
                bottom: 32px;
                left: -142px !important;
            }
        }

        .main-menu .menu-right .icon-nav .onhover-div .show-div.shopping-cart {
            padding: 15px 15px;
            min-width: 360px;
            left: unset;
            right: 0;
        }

        .top-header .header-dropdown .onhover-dropdown .onhover-show-div li {
            padding-left: 5px;
            display: flex;
            font-size: 15px;
            padding-bottom: 5px;
        }

        @@media (min-width: 1200px) {
            .pixelstrap a .sub-arrow::before {
                content: "\f107";
                font-family: FontAwesome;
                position: absolute;
            }
        }

        .pixelstrap a .sub-arrow {
            right: 15px;
        }

        @@media (max-width: 577px) {
            .pixelstrap a .sub-arrow {
                right: 0px !important;
            }
        }

        @@media (max-width: 577px) {
            .mobview {
                margin-left: 20px !important;
                margin-top: 10px !important;
            }
        }

        #_lang {
            cursor: pointer;
        }

        /* New style */
        .header-dropdown {
            display: flex;
            align-items: center;
           /* justify-content: flex-end;*/
            gap: 10px;
            margin: 0;
            padding: 0;
            width: 100%;
        }

            .header-dropdown li {
                list-style: none;
            }

            .header-dropdown i.fa {
                font-size: 18px;
                color: #333;
            }

            .header-dropdown .onhover-dropdown {
                position: relative;
            }

                .header-dropdown .onhover-dropdown > ul {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    min-width: 150px;
                    padding: 10px;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                    display: none;
                    z-index: 1;
                }

                .header-dropdown .onhover-dropdown:hover > ul {
                    display: block;
                }

                .header-dropdown .onhover-dropdown ul li {
                    margin: 5px 0;
                }

                    .header-dropdown .onhover-dropdown ul li a {
                        color: #333;
                        text-decoration: none;
                        font-size: 14px;
                    }

                        .header-dropdown .onhover-dropdown ul li a:hover {
                            color: #555;
                        }

       /* .aend {
            float: right;
        }*/
    </style>



</head>
<body class="theme-color-30 mulish-font">
    <!-- header start -->

    <header id="sticky-header" class="style-light header-compact">
        <div class="mobile-fix-option"></div>
        <div class="top-header top-header-theme">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="header-contact">
                            <ul>
                                <li id="TopHeadDescription"></li>        
                                <li><i class="fa fa-icon-globe"></i><a onclick="_lang(); return false;" id="_lang" data-translate="0002" >عربى</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 text-end">
                        <div class="header-contact ">
                            <ul>
                                <li><a href="https://www.instagram.com/vitamito.bh/" target="_blank"><img src="~/Content/assets/images/icon/insta-active.png" alt="Tiktok" /></a></li>
                                <li><a href="https://www.facebook.com/vitamito.bh" target="_blank"><img src="~/Content/assets/images/icon/fb-active.png" alt="Tiktok" /></a></li>
                                <li><a href="https://www.snapchat.com/add/vitamito?share_id=maOin9URIwI&locale=en-BH" target="_blank"><img src="~/Content/assets/images/icon/snap-active.png" alt="Tiktok" /></a></li>
                                <li><a onclick="onclicktiktok()"><img src="~/Content/assets/images/icon/ticktok-active.png" alt="Tiktok" /></a></li>
                                <li><a href="https://wa.me/message/5QPAIPE22WJVO1" target="_blank"><img src="~/Content/assets/images/icon/whatsapp-active.png" alt="Tiktok" /></a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 text-end">
                        <ul class="header-dropdown">
                            <li class="mobile-wishlist pe-0">
                                <div><a href="@Url.Action("Wishlist" , "Product")"><i class="fa fa-heart"></i></a></div>
                                <span class="wish_qty_cls" id="wish-total" style="color:var(--theme-color);">0</span>
                                @*<ul class="show-div shopping-cart head-cart">
                                    </ul>*@
                            </li>


                            @if (Session["CustomerName"] != null)
                            {
                                <li class="onhover-dropdown mobile-account">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span class="_arabic" data-translate="000co47">My Account</span>
                                    <ul class="onhover-show-div">
                                        <li style="color:black;" class="_arabic"><strong data-translate="000co52">Hi!&nbsp;</strong> @Session["CustomerName"]</li>
                                        <li> <a href="~/Order/Myorders" class="_arabic about-bg border-bottom dropdown-item font-weight-bold py-4 text-center" style="font-size:12px;" data-translate="00mo0">My Orders</a></li>
                                        <li><a class="dropdown-item text-center _arabic" data-translate="00l5" style="font-size:12px;" href="~/account/logout" onclick="logout();">Logout</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="onhover-dropdown mobile-account">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span class="" data-translate="000co47">My Account</span>
                                    <ul class="onhover-show-div">
                                        <li class=""><a href="@Url.Action("Login_Register" , "Account")" data-translate="00l4">Login</a></li>
                                        <li class=""><a href="@Url.Action("Login_Register" , "Account")" data-translate="00a3">Register</a></li>
                                    </ul>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">
                            <div class="brand-logo">
                                <a href="@Url.Action("Index" , "Home")"><img src="../../Content/assets/images/Logov.jpg" class="img-fluid blur-up lazyload" alt=""></a>
                            </div>
                        </div>
                        @if (HttpContext.Current.Request.Cookies["lang"].Value == "en")
                        {
                            <div class="form_search">
                                <input type="text" id="query search-autocomplete" placeholder="Search for Health and Cosmetic Products...." class="srch nav-search nav-search-field" aria-expanded="true">
                                <button id="SrchBtn" onclick="SearchByTxt(); return false;" class="btn-search">
                                    <i class="ti-search"></i>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="form_search">
                                <input type="text" style="padding-right:40px" id="query search-autocomplete" placeholder="ابحث عن المنتجات الصحية والتجميلية ...." class="srch nav-search nav-search-field _arabic" aria-expanded="true">
                                <button id="SrchBtn" onclick="SearchByTxt(); return false;" class="btn-search">
                                    <i class="ti-search"></i>
                                </button>
                            </div>
                        }
                        <div class="menu-right pull-right">
                            <div>
                                <div class="icon-nav">
                                    <ul>
                                        <li class="onhover-div mobile-search d-xl-none d-inline-block">
                                            <div><img src="../assets/images/icon/search.png" onclick="openSearch()" class=" img-fluid blur-up lazyload" alt=""><i class="ti-search" onclick="openSearch()"></i></div>
                                            <div id="search-overlay" class="search-overlay">
                                                <div>
                                                    <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                                                    <div class="overlay-content">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-xl-12">

                                                                    <div class="form-group">
                                                                        <input type="text" class="srchMob form-control" id="exampleInputPassword1" placeholder="Search a Product">
                                                                    </div>
                                                                    <button id="SrchBtn" onclick="SearchByTxtMob();  return false;" class="btn btn-primary"><i class="fa fa-search"></i></button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="onhover-div mobile-cart">
                                            <div><img src="~/Content/assets/images/icon/cart.png" class="img-fluid blur-up lazyload" alt=""><i class="ti-shopping-cart"></i></div>

                                            <span class="cart_qty_cls" id="cart-total">0</span>
                                            <ul class="show-div shopping-cart head-cart">
                                            </ul>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-part bottom-light">
            <div class="container">
                <div class="row">
                    <div class="col-12 menu-row">
                        <div class="col-lg-4"></div>
                        <div class="main-nav-center">

                            @Html.Action("Header", "Shared")

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->


    <div class="main-wrapper">
        @RenderBody()
    </div>
    <!-- footer start -->
    <footer class="footer-light footer-expand pb-0">
        <div class="section-t-space section-b-space light-layout">
            <div class="container">
                <div class="row footer-theme partition-f">
                    <div class="col-lg-5 col-md-4">
                        <div class="footer-title footer-mobile-title">
                            <h4 data-translate="aa1">about</h4>
                        </div>
                        <div class="footer-contant _arabic">
                            <div class="footer-logo "> <img src="~/Content/assets/images/footerlogo.png" /></div>
                            <p data-translate="000co46" class="_arabic">
                                A store for supplements, sports supplements, cosmetics, and a free test to know the percentage of fat, muscle and body fluids.
                                Enjoy the best offers on thousands of products from proteins, nutritional supplements and cosmetics.
                            </p>
                            <ul class="store-details">
                                <li><a href="https://play.google.com/store/apps/details?id=com.vitamito" target="_blank"><img src="../Content/assets/images/store/google.png" class="img-fluid" alt=""></a></li>
                                <li>
                                    <a href="https://apps.apple.com/pk/app/vitamito/id6443720094" target="_blank"><img src="../Content/assets/images/store/app.png" class="img-fluid" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4 data-translate="000co39" class="_arabic pg">Pages</h4>
                            </div>
                            <div class="footer-contant _arabic">
                                <ul>
                                    <li><a href="@Url.Action("Index" , "Home")" data-translate="a0">Home</a></li>
                                    <li><a href="@Url.Action("Index" , "Home")" data-translate="00s1">Shop</a></li>
                                    <li><a href="@Url.Action("Index" , "Home")" data-translate="aa0">About Us</a></li>
                                    <li><a href="@Url.Action("Index" , "Home")" data-translate="00aa4">Contact Us</a></li>
                                    <li><a href="@Url.Action("Index" , "Home")" >Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-lg-4 col-md-4">
            <div class="sub-title">
                <div class="footer-title">
                    <h4 data-translate="000co40" class="_arabic pg">store information</h4>
                </div>
                <div class="footer-contant">
                    <ul class="contact-list ">
                        <li class="rtext"><i class="fa fa-phone"></i><span data-translate="000co41"> Call us: +973 373 773 53 </span></li>
                        <li class="rtext"><i class="fa fa-whatsapp"></i><span data-translate="000co42">Whatsapp: +973 3737553 </span> </li>
                        <li class="rtext"><i class="fa fa-envelope"></i><span data-translate="000co43">Email Us: vitamitobh@gmail.com</span></li>
                        <li class="rtext"><i class="fa fa-address-book"></i><span data-translate="000co44">Address:</span> <a href="#" data-translate="000co45">Galali - Below Gym Fitness Track - Next to Ithmaar Bank</a></li>
                    </ul>
                    <br />

                    <a class="siconsr" href="https://www.instagram.com/vitamito.bh/" target="_blank"><img src="~/Content/assets/images/icon/instagram.png" alt="instagram" style="width:40px;" /></a>&nbsp;
                    <a class="siconsr" href="https://www.facebook.com/vitamito.bh" target="_blank"><img src="~/Content/assets/images/icon/facebook.png" alt="facebook" style="width:40px;border-radius:7px;" /></a>&nbsp;
                    <a class="siconsr" href="https://www.snapchat.com/add/vitamito?share_id=maOin9URIwI&locale=en-BH" target="_blank"><img src="~/Content/assets/images/icon/snapchat.png" alt="facebook" style="width:40px;border-radius:7px;" /></a>&nbsp;
                    <a class="siconsr" onclick="onclicktiktok()"><img src="~/Content/assets/images/icon/ticktok.png" alt="facebook" style="width:35px;border-radius:7px;" /></a>&nbsp;
                    <a class="siconsr" href="https://wa.me/message/5QPAIPE22WJVO1" target="_blank"><img src="~/Content/assets/images/icon/whatsapp.png" alt="facebook" style="width:40px;border-radius:7px;" /></a>&nbsp;

                </div>
            </div>
        </div>*@

                    <div class="col-lg-4 col-md-4">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4 data-translate="000co40" class="_arabic pg">store information</h4>
                            </div>
                            <div class="footer-contant">
                                <ul class="contact-list _arabic-textAlign">
                                    <li class=""><i class="fa fa-phone"></i><span data-translate="000co41"> Call us: +973 373 773 53 </span></li>
                                    <li class=""><i class="fa fa-whatsapp"></i><span data-translate="000co42">Whatsapp: +973 3737553 </span> </li>
                                    <li class=""><i class="fa fa-envelope"></i><span data-translate="000co43">Email Us: vitamitobh@gmail.com</span></li>
                                    <li class=""><i class="fa fa-address-book"></i><span data-translate="000co44">Address:</span> <a href="#" data-translate="000co45">Galali - Below Gym Fitness Track - Next to Ithmaar Bank</a></li>
                                </ul>
                                <br />

                                <a class="siconsr" href="https://www.instagram.com/vitamito.bh/" target="_blank"><img src="~/Content/assets/images/icon/instagram.png" alt="instagram" style="width:40px;" /></a>&nbsp;
                                <a class="siconsr" href="https://www.facebook.com/vitamito.bh" target="_blank"><img src="~/Content/assets/images/icon/facebook.png" alt="facebook" style="width:40px;border-radius:7px;" /></a>&nbsp;
                                <a class="siconsr" href="https://www.snapchat.com/add/vitamito?share_id=maOin9URIwI&locale=en-BH" target="_blank"><img src="~/Content/assets/images/icon/snapchat.png" alt="facebook" style="width:40px;border-radius:7px;" /></a>&nbsp;
                                <a class="siconsr" onclick="onclicktiktok()"><img src="~/Content/assets/images/icon/ticktok.png" alt="facebook" style="width:35px;border-radius:7px;" /></a>&nbsp;
                                <a class="siconsr" href="https://wa.me/message/5QPAIPE22WJVO1" target="_blank"><img src="~/Content/assets/images/icon/whatsapp.png" alt="facebook" style="width:40px;border-radius:7px;" /></a>&nbsp;

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 text-center">
                        <div class="footer-end">
                            <p>
                                <i class="fa fa-copyright" aria-hidden="true"></i> 2022 Vitamito All right reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!-- tap to top -->
    @*<div class="tap-top">
            <div>
                <i class="fa fa-angle-double-up"></i>
            </div>
        </div>*@
    <div class="toast" style="position:fixed;bottom:20px;left:20px;background:#eee">
        <div class="toast-head-text" style="padding:10px">
            Toast Header
        </div>
        <div class="toast-body">
            Some text inside the toast body
        </div>
    </div>
    <style>
        .dmopMx {
            display: none
        }

        .ejlKYF {
            bottom: 43px !important;
        }
    </style>
    <!-- tap to top End -->
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+97337377353", // WhatsApp number
                call_to_action: "Message us", // Call to action
                position: "right", // Position may be 'right' or 'left'
                pre_filled_message: "How can i help you", // WhatsApp pre-filled message
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- portfolio js -->
    <script src="~/Content/assets/js/isotope.min.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
    <script src="~/Content/assets/js/sweetalert/sweetalert.min.js"></script>
    <!-- menu js-->
    <script src="~/Content/assets/js/menu.js"></script>
    <script src="~/Content/assets/js/sticky-menu.js"></script>

    <!-- feather icon js-->
    <script src="~/Content/assets/js/feather.min.js"></script>

    <!-- lazyload js-->
    <script src="~/Content/assets/js/lazysizes.min.js"></script>

    <script src="~/Content/assets/js/price-range.js"></script>
    
    <script src="~/Content/assets/js/cookie/js.cookie.js"></script>
    <script src="~/Content/assets/js/cookie/js.cookie.min.js"></script>


    <!-- slick js-->
    <script src="~/Content/assets/js/slick.js"></script>
    <script src="~/Content/assets/js/slick-animation.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Notification js-->
    <script src="~/Content/assets/js/bootstrap-notify.min.js"></script>

    <!-- Theme js-->
    <script src="~/Content/assets/js/theme-setting.js"></script>
    <script src="~/Content/assets/js/color-setting.js"></script>
    <script src="~/Content/assets/js/script.js"></script>
    <script src="~/Content/assets/js/custom-slick-animated.js"></script>
    @RenderSection("scripts", false)
    <script>
        //$(window).on('load', function () {
        //    setTimeout(function () {
        //        $('#exampleModal').modal('show');
        //    }, 2500);
        //});
        function onclicktiktok() {
            window.location.href = "https://www.tiktok.com/@@vitamito.bh?lang=en";
        }
        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";

        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
        function SearchByTxt() {
            debugger
            var Searchtxt = $(".srch").val();
            window.location.href = '/shop/shop?Category=""&CategoryIDs=' + '&Searchtext=' + Searchtxt + '&SortID=' + '&MinPrice=' + ' ' + '&MaxPrice=' + ' ' + '';
        }
        function SearchByTxtMob() {
            debugger
            var Searchtxt = $(".srchMob").val();
            window.location.href = '/shop/shop?Category=""&CategoryIDs=' + '&Searchtext=' + Searchtxt + '&SortID=' + '&MinPrice=' + ' ' + '&MaxPrice=' + ' ' + '';
        }
        feather.replace();
    </script>


    <script>
        //var input = document.getElementById("search");
        //input.addEventListener("keyup", function (event) {
        //    if (event.keyCode === 13) {
        //        event.preventDefault();
        //        document.getElementById("search-btn").click();
        //    }
        //});

        window.onscroll = function () { myFunction() };

        var header = document.getElementById("Head");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("nav-fixed-top");
            } else {
                header.classList.remove("nav-fixed-top");
            }
        }




        $('.dropdown').click(function () {

            $('.dropdown-menu').toggleClass('show');

        });

        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
    </script>
    <script src="~/language/translations.js"></script>

</body>
</html>