
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #dis {
        background-color: #9dc3c2;
    }
</style>
<!-- loader start -->
<div class="loader_skeleton">
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>collection</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">collection</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <section class="section-b-space ratio_asos">
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 collection-filter">
                        <!-- side-bar colleps block stat -->
                        <div class="collection-filter-block">
                            <div class="filter-block">
                                <h4 class="title-ldr"></h4>
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="filter-block">
                                <h4 class="title-ldr"></h4>
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="filter-block">
                                <h4 class="title-ldr"></h4>
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <!-- silde-bar colleps block end here -->
                        <!-- side-bar single product slider start -->
                        <div class="theme-card">
                            <h5 class="title-border"></h5>
                            <div>
                                <div class="product-box">
                                    <div class="media">
                                        <div class="img-wrapper"></div>
                                        <div class="media-body align-self-center">
                                            <div class="product-detail">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-box">
                                    <div class="media">
                                        <div class="img-wrapper"></div>
                                        <div class="media-body align-self-center">
                                            <div class="product-detail">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-box">
                                    <div class="media">
                                        <div class="img-wrapper"></div>
                                        <div class="media-body align-self-center">
                                            <div class="product-detail">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- side-bar single product slider end -->
                        <!-- side-bar banner start here -->
                        <div class="collection-sidebar-banner"></div>
                        <!-- side-bar banner end here -->
                    </div>
                    <div class="collection-content col">
                        <div class="page-main-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="top-banner-wrapper">
                                        <div class="img-ldr-top"></div>
                                        <div class="top-banner-content small-section">
                                            <h4></h4>
                                            <h5></h5>
                                            <p></p>
                                            <p></p>
                                        </div>
                                    </div>
                                    <div class="collection-product-wrapper">
                                        <div class="product-top-filter">
                                            <div class="row m-0 w-100">
                                                <div class="col-xl-4">
                                                    <div class="filter-panel">
                                                        <h6 class="ldr-text"></h6>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-6">
                                                    <div class="filter-panel">
                                                        <h6 class="ldr-text"></h6>
                                                    </div>
                                                </div>
                                                <div class="col-xl-2 col-lg-4 col-6">
                                                    <div class="filter-panel">
                                                        <h6 class="ldr-text"></h6>
                                                    </div>
                                                </div>
                                                <div class="col-xl-2 col-lg-4 d-none d-lg-block">
                                                    <div class="filter-panel">
                                                        <h6 class="ldr-text"></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-wrapper-grid">
                                            <div class="row">
                                                <div class="col-xl-3 col-md-6 col-grid-box">
                                                    <div class="product-box">
                                                        <div class="img-wrapper"></div>
                                                        <div class="product-detail">
                                                            <h4></h4>
                                                            <h5></h5>
                                                            <h6></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-grid-box">
                                                    <div class="product-box">
                                                        <div class="img-wrapper"></div>
                                                        <div class="product-detail">
                                                            <h4></h4>
                                                            <h5></h5>
                                                            <h6></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-grid-box">
                                                    <div class="product-box">
                                                        <div class="img-wrapper"></div>
                                                        <div class="product-detail">
                                                            <h4></h4>
                                                            <h5></h5>
                                                            <h6></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-grid-box">
                                                    <div class="product-box">
                                                        <div class="img-wrapper"></div>
                                                        <div class="product-detail">
                                                            <h4></h4>
                                                            <h5></h5>
                                                            <h6></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-grid-box">
                                                    <div class="product-box">
                                                        <div class="img-wrapper"></div>
                                                        <div class="product-detail">
                                                            <h4></h4>
                                                            <h5></h5>
                                                            <h6></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-grid-box">
                                                    <div class="product-box">
                                                        <div class="img-wrapper"></div>
                                                        <div class="product-detail">
                                                            <h4></h4>
                                                            <h5></h5>
                                                            <h6></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-grid-box">
                                                    <div class="product-box">
                                                        <div class="img-wrapper"></div>
                                                        <div class="product-detail">
                                                            <h4></h4>
                                                            <h5></h5>
                                                            <h6></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-grid-box">
                                                    <div class="product-box">
                                                        <div class="img-wrapper"></div>
                                                        <div class="product-detail">
                                                            <h4></h4>
                                                            <h5></h5>
                                                            <h6></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-grid-box">
                                                    <div class="product-box">
                                                        <div class="img-wrapper"></div>
                                                        <div class="product-detail">
                                                            <h4></h4>
                                                            <h5></h5>
                                                            <h6></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-grid-box">
                                                    <div class="product-box">
                                                        <div class="img-wrapper"></div>
                                                        <div class="product-detail">
                                                            <h4></h4>
                                                            <h5></h5>
                                                            <h6></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-grid-box">
                                                    <div class="product-box">
                                                        <div class="img-wrapper"></div>
                                                        <div class="product-detail">
                                                            <h4></h4>
                                                            <h5></h5>
                                                            <h6></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-grid-box">
                                                    <div class="product-box">
                                                        <div class="img-wrapper"></div>
                                                        <div class="product-detail">
                                                            <h4></h4>
                                                            <h5></h5>
                                                            <h6></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- loader end -->
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>collection</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">collection</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- breadcrumb end -->
<!-- section start -->
<section class="section-b-space ratio_asos">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 collection-filter">
                    <!-- side-bar colleps block stat -->
                    <div class="collection-filter-block">
                        <!-- brand filter start -->
                        <div class="collection-mobile-back"><span class="filter-back"><i class="fa fa-angle-left" aria-hidden="true"></i> back</span></div>
                        <div class="collection-collapse-block open">
                            <h3 class="collapse-block-title">Categories</h3>
                            <div class="collection-collapse-block-content">
                                <div class="collection-brand-filter">
                                    @foreach (var item in ViewBag.Category)
                                    {
                                        <div class="form-check collection-filter-checkbox">
                                            <input type="checkbox" class="form-check-input" id="a">
                                            <label class="form-check-label" for="a">@item.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- price filter start here -->
                        <div class="collection-collapse-block border-0 open">
                            <h3 class="collapse-block-title">price</h3>
                            <div class="collection-collapse-block-content" style="padding-bottom:40px">
                                <div class="wrapper mt-3">
                                    <div class="range-slider">
                                        <input type="range" class="irs-slider" value="" style="width:100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- silde-bar colleps block end here -->
                    <!-- side-bar single product slider start -->
                    <div class="theme-card">
                        <h5 class="title-border">new product</h5>
                        <div class="offer-slider slide-1">
                            <div>
                                @foreach (var item in ViewBag.BestProduct)
                                {
                                <div class="media">
                                   
                                    @if (item.Image == null || item.Image == "")
                                    {
                                        <a href="@Url.Action("ProductDetails", "Product", new { ID = item.ID })"><img src="~/Content/assets/images/NA.png" style="height: 160px; width: 160px;"></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ProductDetails", "Product", new { ID = item.ID })">
                                            <img src="@System.Configuration.ConfigurationManager.AppSettings["Image"].ToString()@item.Image" alt="" style="height: 160px; width: 160px;" />
                                        </a>
                                    }
                                    <div class="media-body align-self-center">
                                        <a href="@Url.Action("ProductDetails", "Product", new { ID = item.ID })">
                                            <h6>@item.Name</h6>
                                        </a>
                                        <h4>BHD @(Math.Round((item.Price),2))</h4>
                                        <br />
                                        @if ((Math.Round((item.CurrentStock), 2)) < 11 && (Math.Round((item.CurrentStock), 2)) != 0)
                                        {
                                            <strong style="font-size:13px;color:red;">Limited Stock: @Math.Round((item.CurrentStock), 2)</strong>
                                        }
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- side-bar single product slider end -->
                    <!-- side-bar banner start here -->
                    <div class="collection-sidebar-banner">
                        <a href="#"><img src="../Content/assets/images/about-us.jpg" class="img-fluid blur-up lazyload" alt=""></a>
                    </div>
                    <!-- side-bar banner end here -->
                </div>
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="top-banner-wrapper">
                                    <a href="#"><img src="../Content/assets/images/about-us.jpg" class="img-fluid blur-up lazyload" alt=""></a>
                                </div>
                                <div class="collection-product-wrapper">
                                    <div class="product-top-filter">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="filter-main-btn"><span class="filter-btn btn btn-theme"><i class="fa fa-filter" aria-hidden="true"></i> Filter</span></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="product-filter-content">
                                                    <div class="search-count">
                                                        <h5>Showing Products 1-12 of 10 Result</h5>
                                                    </div>
                                                    <div class="collection-view">
                                                        <ul>
                                                            <li><i class="fa fa-th grid-layout-view"></i></li>
                                                            <li><i class="fa fa-list-ul list-layout-view"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="collection-grid-view">
                                                        <ul>
                                                            <li><img src="../assets/images/icon/2.png" alt="" class="product-2-layout-view"></li>
                                                            <li><img src="../assets/images/icon/3.png" alt="" class="product-3-layout-view"></li>
                                                            <li><img src="../assets/images/icon/4.png" alt="" class="product-4-layout-view"></li>
                                                            <li><img src="../assets/images/icon/6.png" alt="" class="product-6-layout-view"></li>
                                                        </ul>
                                                    </div>
                                                    <div class="product-page-per-view">
                                                        <select>
                                                            <option value="High to low">
                                                                12 Products Par Page
                                                            </option>
                                                            <option value="Low to High">
                                                                50 Products Par Page
                                                            </option>
                                                            <option value="Low to High">
                                                                100 Products Par Page
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="product-page-filter">
                                                        <select>
                                                            <option value="High to low">Sorting items</option>
                                                            <option value="Low to High">50 Products</option>
                                                            <option value="Low to High">100 Products</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-wrapper-grid">
                                        <div class="row margin-res">
                                            @foreach (var item in ViewBag.itemList)
                                            {
                                                <div class="col-xl-3 col-6 col-grid-box">
                                                    <div class="product-box">
                                                        <div class="img-wrapper">
                                                            @if (item.Image == null || item.Image == "")
                                                            {
                                                                <a href="@Url.Action("ProductDetails", "Product", new { ID = item.ID })"><img src="~/Content/assets/images/NA.png" style="height: 160px; width: 160px;"></a>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action("ProductDetails", "Product", new { ID = item.ID })">
                                                                    <img src="@System.Configuration.ConfigurationManager.AppSettings["Image"].ToString()@item.Image" alt="" style="height: 160px; width: 160px;" />
                                                                </a>
                                                            }

                                                            @if ((Math.Round((item.CurrentStock), 2)) == 0)
                                                            {
                                                                <div class="cart-info cart-wrap">
                                                                    <button data-bs-toggle="modal" id="dis" ><i class="ti-shopping-cart"></i></button>
                                                                    <a href="javascript:void(0)" class="wishlist" onclick="addtoWishlist(@item.ID, '@item.Name', '@item.Image',@item.Price,@item.StatusID,1);toast('Item Added to wishlist', 1); return false; "><i class="ti-heart" aria-hidden="true"></i></a>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="cart-info cart-wrap">
                                                                    <button data-bs-toggle="modal" onclick="addtocart(@item.ID,'@item.Name','@item.Image',@item.Price,1);toast('Item Added to Cart', 1); return false;"><i class="ti-shopping-cart"></i></button>
                                                                    <a href="javascript:void(0)" class="wishlist" onclick="addtoWishlist(@item.ID, '@item.Name', '@item.Image',@item.Price,@item.StatusID,1);toast('Item Added to wishlist', 1); return false; "><i class="ti-heart" aria-hidden="true"></i></a>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="product-detail">
                                                            <div>
                                                                <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                                                <a href="@Url.Action("ProductDetails", "Product", new { ID = item.ID })">
                                                                    <h6>@item.Name</h6>
                                                                </a>
                                                                <p>
                                                                    @item.Description
                                                                </p>
                                                                <h4 step="0.01">BHD @(Math.Round((item.Price),2))</h4>
                                                                <br />
                                                                @if ((Math.Round((item.CurrentStock), 2)) < 11 && (Math.Round((item.CurrentStock), 2)) != 0)
                                                                {
                                                                    <strong style="font-size:13px;color:red;">Limited Stock: @Math.Round((item.CurrentStock), 2)</strong>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="product-pagination">
                                        <div class="theme-paggination-block">
                                            <div class="row">
                                                <div class="col-xl-6 col-md-6 col-sm-12">
                                                    <nav aria-label="Page navigation">
                                                        <ul class="pagination">
                                                            <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span> <span class="sr-only">Previous</span></a></li>
                                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                           
                                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span> <span class="sr-only">Next</span></a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                                <div class="col-xl-6 col-md-6 col-sm-12">
                                                    <div class="product-search-count-bottom">
                                                        <h5>Showing Products 1-24 of 10 Result</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section End -->
<!-- tap to top start -->
<div class="tap-top">
    <div><i class="fa fa-angle-double-up"></i></div>
</div>
<!-- tap to top end -->
<!-- latest jquery-->
<script src="../Content/assets/js/jquery-3.3.1.min.js"></script>

<!-- menu js-->
<script src="../Content/assets/js/menu.js"></script>

<!-- lazyload js-->
<script src="../Content/assets/js/lazysizes.min.js"></script>

<!-- price range js -->
<script src="../Content/assets/js/price-range.js"></script>

<!-- slick js-->
<script src="../Content/assets/js/slick.js"></script>

<!-- Bootstrap js-->
<script src="../Content/assets/js/bootstrap.bundle.min.js"></script>

<!-- Bootstrap Notification js-->
<script src="../Content/assets/js/bootstrap-notify.min.js"></script>

<!-- Theme js-->
<script src="../Content/assets/js/theme-setting.js"></script>
<script src="../Content/assets/js/script.js"></script>

<script>
    function openSearch() {
        document.getElementById("search-overlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("search-overlay").style.display = "none";
    }
    $(function () {

        var $range = $(".js-range-slider"),
            $inputFrom = $(".js-input-from"),
            $inputTo = $(".js-input-to"),
            instance,
            min = 0,
            max = 1500,
            from = 0,
            to = 0;

        $range.ionRangeSlider({
            type: "double",
            min: min,
            max: max,
            from: 0,
            to: 3000,
            prefix: '$',
            onStart: updateInputs,
            onChange: updateInputs,
            step: 100,
            prettify_enabled: true,
            prettify_separator: ".",
            values_separator: " - ",
            force_edges: true


        });
</script>